<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XKCDPasswordGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XKCDPasswordGenerator.Properties.Settings>
            <setting name="WordListLocation" serializeAs="String">
                <value>default.txt</value>
            </setting>
            <setting name="IsWordCountEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAcrostic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDelimited" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMaxCharEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMinCharEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WordCountEnabled_Value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Acrostic_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="Delimited_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxCharEnabled_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="MinCharEnabled_Value" serializeAs="String">
                <value />
            </setting>
        </XKCDPasswordGenerator.Properties.Settings>
    </userSettings>
</configuration>